
body {
    font-family: Arial, sans-serif;
    background-image: url'../images/library.jpg';
    background-size: cover;
    color: #333;    
    margin: 0;
    padding: 20px;

}
h3 {
    color: #333;    
    font-size: 40px;
    margin-bottom: 20px;    
    text-align: center;
}   


table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto;
    font-family: "Segoe UI", sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

th {
    background-color: #34495e;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

h2 {
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    color: #2c3e50;
}

